<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<meta charset="utf-8">

	{% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
	{% endblock head %}

	<!--title>Tutoriais - Loogica - Iniciativa Open Source</title-->

	<meta name="description" content="Promovemos a colaboração na criação de Software Open Source entre estudantes, desenvolvedores, empresas e outros grupos no Brasil.">
	<meta name="author" content="Felipe Cruz">

	<link href="{{ FEED_DOMAIN }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
	{% if FEED_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}

	<!-- Custom css -->
	<link href="{{ STATIC_URL }}theme/css/style.css" rel="stylesheet" rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL}}theme/css/pygments.css" rel="stylesheet" rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}theme/js/jquery-1.7.2.min.js"%3E%3C/script%3E'))</script>
	<script src="{{ STATIC_URL }}theme/js/script.js"></script>
	<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-1152054-2']);
	_gaq.push(['_setDomainName', 'loogica.net']);
	_gaq.push(['_trackPageview']);

	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	</script>
</head>
<body>

	<!-- Header
	================================================== -->
	<div class="headerFrame row">

		<header class="header row">
			<div class="siteID">
				<h1 class="siteLogo"><a href="index.html">Loogica - Iniciativa Open Source</a></h1>
			</div>

			<nav class="navGlobal">
				<ul>
					<li class="selected current_page_item"><a href="tutoriais.html">Tutoriais</a></li>
					<li><a href="index.html">Sobre Loogica</a></li>
				</ul>
			</nav>
		</header>

	</div>

<hr>

	<!-- Content
	================================================== -->

    {% block content %}
    {% endblock %}

<hr>

	<!-- Footer
	================================================== -->
	<div class="footerFrame row">
		<footer class="footer row">
			<p><strong>Loogica</strong> - Iniciativa Open Source</p>
		</footer>
	</div>

  {% include 'analytics.html' %}

</body>
</html>
