{% extends "base.html" %}

{% block body_def %}
<body class="bodyHome">
{% endblock %}

{% block body %}
    <!-- Content
    ================================================== -->
    <div class="contentFrame row">
        <div class="content row">

            <article>
                <header class="row">
                    <h2>
                        <span class="brk1">Nós temos como objetivo</span> <span class="brk2">promover a criação de software</span> Open Source no Brasil
                    </h2>
                </header>

                <div class="row">
                    <div class="col-50">

                        <p>Queremos criar e desenvolver uma cultura de colaboração e pesquisa pra que a nossa criatividade se some a técnica levando a criação de soluções livres que poderão ajudar outros profissionais a criar soluções para problemas do "mundo real".</p>

                        <p>A nossa idéia é atuar com estudantes, desenvolvedores e com outros grupos ou empresas que promovem a criação de tecnologia nacional.</p>

                        <p>A Loogica é a soma do software open source com a cultura de colaboração.</p>

                    </div>
                    <div class="col-30">

            <p><a href="{{ url_for('create_user') }}" class="homeSignup"><span>Quero Participar</span></a></p>

                    </div>


                </div>

            </article>

        </div>
    </div>
</body>
</html>
{% endblock %}
