{% extends "base.html" %}
{% block content %}
  {% include "header.html" %}
  <div class="contentFrame row">
    <div class="content">
	  <div class="videoIndex">
        <section id="posts">
		  <h1>Python</h1>
          {% for article in articles_page.object_list %}
            <article class="row">
              <header>
                <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"title="Permalink to {{ article.title }}">{{ article.title }}</a></h2>
                  <dl>
                      <dt>Autor</dt>
                      <dd>{{ article.author }}</dd>
                      <dt>Publicado em</dt>
                      <dd><abbr class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr></dd>
                  </dl>
              </header>
              <div class="videoContent">
                <div class="videoDescription">
                  <p>{{ article.short_description }}</p>
                </div>
              </div>
            </article>
          {% endfor %}
		</section>
	  </div>
    </div>
  </div>
  {% include 'pagination.html' %}
{% endblock content %}
