{% extends "base.html" %}
{% block body %}
    <!-- Content
    ================================================== -->
    <div class="contentFrame row">
        <div class="content row">

            <section>
                <header class="row">
                    <h2  class="col-75">Muito Obrigado</h2>
                </header>

                <div class="row">
                    <div class="col-50">

                        <p><strong>Recebemos o seu cadastro e entraremos em contato em breve.</strong></p>

                        <p>Enquanto isto, não deixe de ver os nossos <a href="tutoriais.html">vídeos com tutoriais</a> abordando os nossos interesses de pesquisa e desenvolvimento.</p>

                        <p>Caso gostaria de ver algum tutorial sobre Python, Django ou outras linguagens em nosso site, mande um email para nós, ficaríamos felizes de saber.</p>

                            <p>Não deixe de nos seguir no: <br>Twitter : <a href="https://twitter.com/felipejcruz">@felipejcruz</a> <br>GitHub : <a href="https://github.com/loogica/">github.com/loogica</a> </p>

                        <p>Agradecendo, <br><strong>Equipe Loogica</strong>.</p>


                    </div>

                </div>

            </section>

        </div>
    </div>

{% endblock %}
